@page
@using MadEyeMatt.AspNetCore.Authorization.Permissions
@using MongoDB.Driver
@using MongoSampleTenant.Model
@model InvoiceReadModel
@{
    ViewData["Title"] = "Invoice.Read";
}

<div class="text-center">
    <h1 class="display-4">Invoice.Read</h1>
    <p>Invoice.Read</p>
    <table class="table table-striped table-hover table-bordered">
        <thead>
        <tr>
            <th scope="col" style="width: 30%">ID</th>
            <th scope="col" style="width: 20%">Total</th>
            <th scope="col" style="width: 45%">Note</th>
            <th scope="col" style="width: 5%">Tenant</th>
        </tr>
        </thead>
        <tbody>
		@foreach(Invoice invoice in Model.Context.GetCollection<Invoice>().AsQueryable().Where(x => x.TenantID == User.GetTenantId()).ToList())
        {
            <tr scope="row">
                <td>@invoice.Id</td>
                <td>@invoice.Total.ToString("C2")</td>
                <td>@invoice.Note</td>
                <td>@Model.GetTenantName(invoice.TenantID)</td>
            </tr>
        }
        </tbody>
    </table>
</div>
