@page
@using MadEyeMatt.AspNetCore.Authorization.Permissions
@model TenantModel

@{
    ViewData["Title"] = "Tenant";
}

<div class="text-center">
    <h1 class="display-4">Tenant</h1>
    <div class="text-start">
        <p>Tenant ID: <strong>@User.GetTenantId()</strong></p>
        <p>Tenant Name: <strong>@User.GetTenantName()</strong></p>
        <p>Tenant Display Name: <strong>@User.GetTenantDisplayName()</strong></p>
    </div>
</div>
