@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
	<h1 class="display-4">Welcome</h1>
	<p>Use one of the following example users. The password for every user is: <em>123456</em></p>
	<p>
		<ul class="text-start">
			<li>boss@company</li>
			<li>manager@company</li>
			<li>employee@company</li>
		</ul>
	</p>
</div>
