@page
@using ClaimsPrincipalExtensions = MadEyeMatt.AspNetCore.Authorization.Permissions.Abstractions.ClaimsPrincipalExtensions
@model InvoicesModel

@{
    ViewData["Title"] = "Invoices";
}

<div class="text-center">
    <h1 class="display-4">Invoices</h1>
	<p>
		@if(ClaimsPrincipalExtensions.HasPermission(this.User, "Invoice.Read"))
		{
			<a class="nav-link text-dark" asp-area="" asp-page="/InvoiceRead">Invoice.Read</a>
		}
		
		@if(ClaimsPrincipalExtensions.HasPermission(this.User, "Invoice.Write"))
		{
			<a class="nav-link text-dark" asp-area="" asp-page="/InvoiceWrite">Invoice.Write</a>
		}
		
		@if(ClaimsPrincipalExtensions.HasPermission(this.User, "Invoice.Delete"))
		{
			<a class="nav-link text-dark" asp-area="" asp-page="/InvoiceDelete">Invoice.Delete</a>
		}
		
		@if(ClaimsPrincipalExtensions.HasPermission(this.User, "Invoice.Send"))
		{
			<a class="nav-link text-dark" asp-area="" asp-page="/InvoiceSend">Invoice.Send</a>
		}
		
		@if(ClaimsPrincipalExtensions.HasPermission(this.User, "Invoice.Payment"))
		{
			<a class="nav-link text-dark" asp-area="" asp-page="/InvoicePayment">Invoice.Payment</a>
		}
	</p>
</div>
