@page
@using SamplePermissions.Model
@model InvoicePaymentModel
@{
    ViewData["Title"] = "Invoice.Payment";
}

<div class="text-center">
    <h1 class="display-4">Invoice.Payment</h1>
	<p>Invoice.Payment</p>
</div>
