@page
@using System.Security.Claims
@using ClaimsPrincipalExtensions = MadEyeMatt.AspNetCore.Authorization.Permissions.Abstractions.ClaimsPrincipalExtensions
@model PermissionsModel

@{
    ViewData["Title"] = "Permissions";
}

<div class="text-center">
    <h1 class="display-4">Permissions</h1>
	<p>
		<ul class="text-start">
			@foreach(string permission in ClaimsPrincipalExtensions.GetPermissions(this.User))
			{
				<li>@permission</li>
			}
		</ul>
	</p>
	
	<h1 class="display-4">Claims</h1>
	<p>
		<ul class="text-start">
			@foreach(Claim claim in this.User.Claims)
			{
				<li>@claim.Type = @claim.Value</li>
			}
		</ul>
	</p>
</div>
