@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Use one of the following example users. The password for every user is: <em>123456</em></p>

    <h6 class="text-start">The users of the tenant <em>Startup</em>.</h6>
    <p>

        <ul class="text-start">
            <li>boss@startup</li>
            <li>manager@startup</li>
            <li>employee@startup</li>
        </ul>
    </p>

    <h6 class="text-start">The users of the tenant <em>Company</em>.</h6>
    <p>

        <ul class="text-start">
            <li>boss@company</li>
            <li>manager@company</li>
            <li>employee@company</li>
        </ul>
    </p>

    <h6 class="text-start">The users of the tenant <em>Corporate</em>.</h6>
    <p>

        <ul class="text-start">
            <li>boss@corporate</li>
            <li>manager@corporate</li>
            <li>employee@corporate</li>
        </ul>
    </p>
</div>
