@page
@model InvoiceReadModel
@{
    ViewData["Title"] = "Invoice.Read";
}

<div class="text-center">
    <h1 class="display-4">Invoice.Read</h1>
	<p>Invoice.Read</p>
	<table>
		<thead>
		<tr>ID</tr>
		<tr>Total</tr>
		<tr>Note</tr>
		<tr>Tenant</tr>
		</thead>
	</table>
</div>
