@page
@using ClaimsPrincipalExtensions = MadEyeMatt.AspNetCore.Authorization.Permissions.Abstractions.ClaimsPrincipalExtensions
@model TenantModel

@{
    ViewData["Title"] = "Tenant";
}

<div class="text-center">
	<h1 class="display-4">Tenant</h1>
	<div class="text-start">
		<p>Tenant ID: <strong>@ClaimsPrincipalExtensions.GetTenantId(this.User)</strong></p>
		<p>Tenant Name: <strong>@ClaimsPrincipalExtensions.GetTenantName(this.User)</strong></p>
		<p>Tenant Display Name: <strong>@ClaimsPrincipalExtensions.GetTenantDisplayName(this.User)</strong></p>
	</div>
</div>
